<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ADMIN</title>
</head>
<body>
<a href="/">Start Page</a>
<a href="/search">Search</a>
<br>

<table border="1/2" width="30%" cellpadding="1">
    <tr>
        <th> Add</th>
        <th> Update</th>
        <th> Delete</th>
    </tr>
    <tr>
        <td>
            <a href="admin/characters/create">Add characters</a>
        </td>
        <td>
            <a href="admin/characters/update">Update characters</a>
        </td>
        <td>
            <a href="admin/characters/delete">Delete characters</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="admin/comics/create">Add comics</a>
        </td>
        <td>
            <a href="admin/comics/update">Update comics</a>
        </td>
        <td>
            <a href="admin/comics/delete">Delete comics</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="admin/characters/addCharToComic">Add Character To Comic</a>
        </td>
        <td>
            <a>Update Character from Comic</a>
        </td>
        <td>
            <a>Delete Character from Comic</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="admin/picture/add">Add picture</a>
        </td>
        <td>
            <a>Update picture</a>
        </td>
        <td>
            <a>Delete picture</a>
        </td>
    </tr>

</table>
</body>
</html>